#mainPage{
  background-image: url(../../assets/mainPage.jpg);
  transform: rotate(180deg);
  height:480px;
  background-size: cover;
}

#users{
  margin-left:280px;
  margin-top:-260px;
  width:auto;
  transform: rotate(180deg);

}

#userName{
  margin-top:-15px;
}

.user:hover{
  opacity:0.3;
}
#logo{
  transform:rotate(180deg);
  margin-top:280px;

}
.overlay {
  background-color: rgba(0, 0, 0, 0.35);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
#placeholder{
  height:10px;
}

